body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: rgb(135, 206, 235);
  color: #fff;
  padding: 5px 0;
  text-align: center;

}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: calc(50% - 60px);
}

h1,
h2 {
  color: white;
}

footer {
  background-color: #333;
  /* Darker color for contrast */
  color: #fff;
  text-align: center;
  padding: 0px;
  /* Increased padding for better spacing */
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  /* Smaller font size for less emphasis */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  /* Shadow for depth */
}

#yearSelect {
  display: block;
  width: 20%;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 80%;
  height: auto;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

#searchContainer {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 5px;
}

#countrySearch {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #ddd;
  width: 200px;
  margin-right: 8px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5cb85c;
  /* Bootstrap 'success' green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
  /* A darker shade of green */
}

button:focus {
  outline: none;
  /* Removes the blue border */
}

input[type=range] {
  height: 10px;
  /* Specified height of the slider line */
  background: #d3d3d3;
  /* Background of the slider line */
  outline: none;
  /* Remove the outline on focus */
  opacity: 10.7;
  /* Set the transparency for a lighter look */
  transition: opacity 0.2s;
  /* Transition for the slider thumb */
}

/* Style for the slider thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 16px;
  /* Width of the thumb */
  height: 16px;
  /* Height of the thumb */
  background: #007bff;
  /* Background color of the thumb */
  cursor: pointer;
  /* Cursor to indicate the slider can be moved */
  border-radius: 50%;
  /* Rounded corners of the thumb */
  border: 1px solid #007bff;
  /* Border color to match the thumb fill */
}

input[type=range]::-moz-range-thumb {
  width: 16px;
  /* Width of the thumb */
  height: 16px;
  /* Height of the thumb */
  background: #007bff;
  /* Background color of the thumb */
  cursor: pointer;
  /* Cursor to indicate the slider can be moved */
  border-radius: 50%;
  /* Rounded corners of the thumb */
  border: 1px solid #007bff;
  /* Border color to match the thumb fill */
}

/* Style for the slider thumb on hover */
input[type=range]:hover::-webkit-slider-thumb,
input[type=range]:hover::-moz-range-thumb {
  background: #0056b3;
  /* Slightly darker shade on hover */
}