body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: rgb(135, 206, 235);
  color: #fff;
  padding: 5px 0;
  text-align: center;

}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: calc(50% - 60px);
}

h1,
h2 {
  color: white;
}

footer {
  background-color: #333;
  /* Darker color for contrast */
  color: #fff;
  text-align: center;
  padding: 0px;
  /* Increased padding for better spacing */
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  /* Smaller font size for less emphasis */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  /* Shadow for depth */
}

#yearSelect {
  display: block;
  width: 50%;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 80%;
  height: auto;
}

body {
  margin: 0;
  /* overflow: hidden; */
  font-family: 'Poppins', sans-serif;
}

pre {
  font-size: 7em;
}

.marks .land {
  fill: #137B80;
}

.marks .sphere {
  fill: #ececec;
}

.marks .interiors {
  fill: none;
  stroke: #43A4A8;
}

.marks .graticules {
  fill: none;
  stroke: #dadada;
}